body {
    background-color: rgb(238, 211, 211);
    text-align: center;
    font-family: monospace;
    color: rgb(236, 102, 102);
}

h1 {
    background-color: rgb(236, 102, 102);
    color: white;
    font-family: monospace;
    padding: 20px;
}

button {
    background-color: rgb(236, 102, 102);
    color: white;
    text-align: center;
    font: bold 14px monospace;
    padding: 10px 20px;
    border-radius: 10px;
}
